$test-pass:
          excellent #7dce82 fa-check-circle,
          poor #fac446 fa-minus-circle,
          bad #ff8360 fa-times-circle;

@each $test in $test-pass {
  .value-#{nth($test, 1)} {
    color: nth($test, 2);

    .compact-labels &,
    .mozaic-chart-labels & {
      @extend .#{nth($test, 3)};
    }

    &:before {
      color: nth($test, 2);
    }
  }

  .industry-status-#{nth($test, 1)} {
    &:before {
      background: nth($test, 2);
    }
  }
}

.chart {
  padding-top: 10px;
  position: relative;

  ul {
    font-size: 14px;
    font-weight: 300;
    position: absolute;
  }
}

.chart-label {
  display: inline-block;
  text-align: right;
  width: 70px;
  padding-right: 10px;
  color: #464646;
}

.pie-chart-labels {
  right: 15px;
  top: 15px;
}

.chart-value {
  &:before {
    margin-right: 5px;
  }
}

.mozaic-chart-labels {
  bottom: 15px;
  left: 0;
  right: 0;

  li {
    display: inline-block;
    width: 65px;
  }

  .chart-label {
    display: none;
  }
}

.mozaic-chart-labels,
.compact-labels {
  .chart-value {
    @extend .fa;
    color: #464646;
  }
}
