$test-pass:
          grade-a #87CE1F fa-check-circle,
          grade-b #FADD25 fa-minus-circle,
          grade-c #FFA123 fa-minus-circle,
          grade-d #FF5A2A fa-times-circle;

@each $test in $test-pass {
  .label-#{nth($test, 1)},
  .value-#{nth($test, 1)} {
    color: nth($test, 2);
    font-weight: bold;
  }

  .value-#{nth($test, 1)} {
    &:before {
      color: nth($test, 2);
    }
  }

  .category-status-#{nth($test, 1)} {
    &:before {
      background: nth($test, 2);
    }
  }
}

.chart {
  padding-top: 10px;
  position: relative;

  canvas {
    width: 265px;
  }

  ul {
    font-size: 14px;
    font-weight: 300;
    position: absolute;
  }
}

.chart-label {
  text-align: right;
  width: 70px;
  padding-right: 10px;
  color: #464646;
}

.pie-chart-labels {
  right: 15px;
  top: 9px;
}

.chart-value {
  font-weight: bold;

  &:before {
    margin-right: 5px;
  }
}

.mozaic-chart-labels {
  bottom: 5px;
  left: 0;
  right: 0;

  li {
    width: 25%;
    display: block;
    float: left;
  }
}

.tests-table {
  .fa-check-circle {
    color: #87CE1F
  }

  .fa-times-circle {
    color: #FF5A2A
  }

  .fa-minus-circle {
    color: #FADD25
  }
}
