<article class="static-page headlines-page">
  <section class="container">
    <form {{action "scanUrl" on="submit"}} class="check-site">
      {{input type="text" class="m0" value=url placeholder=scanUrlPlaceholder}}
      <button type="submit" class="btn-primary">
        {{i18n 'headlines.check_form.action'}}
      </button>
    </form>
  </section>
  {{#conditional-loading-spinner condition=loading}}
    <div class="container row">
      {{ outlet }}
    </div>
  {{/conditional-loading-spinner}}
</article>
