<div class="grid">
  <div class="grid__item col-1-2">
    <div class="panel panel--info">
      <div class="panel__heading">Add new notification</div>
      <div class="panel__body domain-form">
        {{input type="text" value=buffered.url placeholder="URL" class="control--text mb-"}}
        {{d-button action="save" icon="check"label="csp_reports.save" class="btn--success"}}
        {{d-button action="cancel" icon="close"label="csp_reports.cancel" class="btn"}}
      </div>
    </div>
  </div>
</div>
