.headlines-page {
  p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 19px;
  }
}

.check-site {
  background: #e7f2f8;
  padding: 20px;
  margin: 40px 0;
  position: relative;
  padding-right: 120px;

  @media screen and (max-width: 1023px) {
    padding: 10px;
    padding-right: 100px;
  }

  label {
    text-transform: uppercase;
  }

  button,
  input {
    min-height: 50px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;

    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
  }

  input[type="text"] {
    width: 100%;
    padding: 5px 15px;
    border: solid 1px #999;
    box-shadow: none;
  }

  button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    padding: 5px 15px;
    text-align: center;

    @media screen and (max-width: 1023px) {
      right: 10px;
      bottom: 10px;
    }
  }
}

.headlines-filters {
  font-size: 13px;

  .select2-container {
    margin-bottom: 15px;
    border: 1px solid #999;

    .select2-choice {
      height: 36px;
      line-height: 36px;

      .select2-arrow b { background-position-y: 7px; }
    }
  }

  .select2-dropdown-open .select2-choice {
    .select2-arrow b { background-position-y: 7px; }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0 0 5px;

    @media screen and (min-width: 480px) and (max-width: 1023px) {
      float: left;
      width: 50%;
    }
  }

  input {
    margin-right: 5px;
  }
}

.filter-type {
  color: #999;
  font-size: 14px;
  padding-top: 5px;
  margin-bottom: 10px;
  display: block;
}

.filters-toggle {
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.filters-container {
  display: block;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.category-card {
  float: left;
  margin: 0 0 13px 13px;
  border: solid 1px $color--black;
  padding: 10px;
  box-sizing: border-box;

  -webkit-flex: 1 0 230px;
  -ms-flex: 1 0 230px;
  flex: 1 0 230px;

  h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
  }

  p {
    color: #999;
    font-size: 14px;
  }

  .btn--primary {
    color: #fff !important;
  }
}

.categories-list {
  overflow: hidden;

  ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
    overflow: hidden;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    list-style-type: none;
  }

  nav {
    margin-left: 3%;
    padding-bottom: 20px;
  }
}

.sites-list {
  float: left;
  width: 70%;

  .fa-external-link {
    color: #1483b8;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 13px;
  }

  .table-search {
    margin-top: 15px;

    .fa-search {
      vertical-align: middle;
      margin-left: -20px;
      line-height: 28px;
    }
  }
}

h3.category-title {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin: 0;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.last-scan {
  margin-top: 10px;
}

.last-scan,
.nav-back:visited,
.nav-back {
  color: #999;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.compact-labels {
  display: inline-block;
  list-style-type: none;
  margin: 20px 0 0 0;

  li {
    display: inline-block;
    margin-right: 20px;
  }
}

.test-results {
  margin: 5px 0 30px;

  li {
    color: #999;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 30px;
    line-height: 30px;
  }

  .value {
    font-size: 30px;
    font-weight: 300;
    color: #000;
  }
}

.site-details {
  h4 {
    text-transform: uppercase;
    font-size: 14px;
    color: #464646;
    font-weight: 400;
  }

  .site-name {
    margin-bottom: 0;
    line-height: normal;
    font-size: 30px;
    text-transform: uppercase;
  }
}

.tests-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-top: 10px;
    padding: 0 0 0 17px;
    position: relative;

    a {
      color: #000;

      &:hover { color: #464646; }
    }
  }

  i {
    position: absolute;
    left: 0;
    top: 3px;
  }
}

.tests-section {
  margin-bottom: 1em;

  h3 {
    border-bottom: 2px solid darken(#e7f2f8, 50%);
    line-height: 30px;
    margin-bottom: 0;

    .tests-overall-score {
      display: block;
      float: right;
      font-size: 14px;

      .headers-grade {
        font-size: 20px;
      }
    }
  }
}

.tests-table {
  width: 100%;

  @media screen and (max-width: 1023px) {
    font-size: 12px;
  }

  tr {
    border-bottom: 1px solid darken(#e7f2f8, 10%);

    &:hover { background: #e7f2f8; }

    &:last-child { border: 0; }
  }

  td {
    padding: 5px 0;

    &.headers-name {
      padding-right: 20px;
      max-width: 50%;
      white-space: nowrap;

      @media screen and (max-width: 1023px) {
        white-space: normal;
      }
    }

    .test-value {
      margin: 0;
    }

    .test-value-description {
      display: block;
      color: #85959e;
      font-size: 12px;
    }
  }
}

.directives-list  {
  font-family: monospace, monospace;
}

.site-notes {
  color: #85959e;
  border-bottom: solid 1px #e0e0e0;
  padding: 10px 0 15px;
  margin-bottom: 20px;

  .site-status {
    font-size: 36px;
  }

  .site-location {
    font-size: 24px;
    padding-top: 15px;
  }

  .site-overall-grade-label {
    vertical-align: 6px;
    font-size: 18px;

    @media screen and (max-width: 779px) {
      display: none;
    }
  }
}

.test-notes {
  font-size: 14px;
  color: #999;
}

.test-description {
  h3 {
    margin: 20px 0 10px;
    font-size: 20px;
  }

  ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;

    li {
      padding: 0;
      display: block;
    }

    a { color: #0088cc; }
  }
}

.test-value {
  margin-right: 25px;
}

.csp-directives {
  display: block;
}

.sub-categories {
  margin: 20px 0 30px;
}

.sub-categories-toggle {
  color: #AD841F;
  font-weight: 300;

  &:hover { color: darken(#AD841F, 10%); }

  .fa { margin-right: 5px; }
}

ul.sub-categories-list {
  margin: 15px 0 0;
  -webkit-columns: 132px auto;
  -moz-columns: 132px auto;
  -ms-columns: 132px auto;
  columns: 132px auto;

  li {
    display: block;
    margin-bottom: 10px;
  }

  a.active {
    color: #000;
    font-weight: bold;
  }
}

.topic-list th.grades {
  text-align: right;
}
